.deletezone{
    border: 2px solid black;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.deletezone button{
    background-color: blue;
    color: white;
}
.deletezone button:hover{
    background-color: greenyellow;
}
.addButton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.acceptButton:hover{
    background-color: yellowgreen;
}